.deps
.libs
check_confuse
env
ignore_parm
list_plus_syntax
malloc.log
section_add
section_remove
section_title_dupes
suite_dup
suite_func
suite_list
suite_single
suite_validate
include
quote_before_print
single_title_sections
searchpath
*.o
*.log
*.trs